{% extends 'base.html.twig' %}
{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8"><h2 class="panel-title">Clients list</h2></div>
            <div class="col-sm-4 text-right">
                <a href="{{ path('clients_add') }}" class="btn btn-success btn-xs">New client</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>LastName</th>
                <th>Created</th>
                <th>Avatar</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for c in clients %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.firstname }}</td>
                <td>{{ c.lastname }}</td>
                <td>{{ c.created|date('d/m/Y') }}</td>
                <td>{{ c.avatar }}</td>
                <td>
                    <a href="{{ path('clients_edit',{'id': c.id}) }}" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('clients_delete',{'id': c.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}